# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.bbl
*.bcf
*.blg
*.synctex.gz
*.run.xml
*.acn

# Glossary / Index files
*.glo
*.acn
*.ist
*.gls

# PDF output
*.pdf

# Bib files
*.bib